@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Karla:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    background-color: #1F2937;
    color: #fff;
}

h1, h2{
    font-family: 'Karla', sans-serif;
    line-height: 1;
    font-size: 5rem;
}

h1{
    color: #fff;
}

h2{
    color: #4ADF86;
}

.full-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 54rem;
    margin: auto;
}


p{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5em;
}

.btn{
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1.8rem;
    color: inherit;
    background-color: #10B981;
    padding: 0.7em 1em;
    transform: scale(1);
    transition: transform 150ms ease;
}

.btn:hover{
    background-color: #00744d;
}

.btn:active{
    transform: scale(0.98);
}

hr{
    margin-block: 4rem;
    border-style: solid;
    border-color: #2F3E53;
    border-width: 0.5px;
}

.password-holder{
    display: flex;
    justify-content: space-between;
}

[id ^="password-el"]{
    display: grid;
    place-content: center;
    cursor: pointer;
    text-align: center;
    content: attr(data-text);
    padding-block: 2rem;
    border-radius: 6px;
    font-size: 1.8rem;
    width: 25rem;
    height: 4.5rem;
    background-color: #273549;
    position: relative;
}

/* [id ^="password-el"]::after{
    content: attr(data-text);
    position: absolute;
    inset: auto 0rem 6rem auto;
    padding: 1rem 1.5rem; 
    background-color: #1e293f;
} */

[id ^="password-el"]{
    position: absolute;
    right: 0.8rem;
    bottom: 0.9rem;
    content: "\f0c5";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: #00744d;
    padding-inline: 1rem;
    box-shadow: inset 0 0 0 3rem #1e293f,
                        0 0 0 0.9rem #1e293f;
    border-radius: 0 2px 2px 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

input[type="number"]{
    border: none;
    max-width: 27rem;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1rem;
}

input[type="number"]:focus{
    outline: 3px solid #00744d;
}

input[type="number"]:invalid{
    outline: 3px solid rgb(155, 6, 6);
}




@media (max-width: 600px){
    .full-container{
        text-align: center;
    }

    h1, h2{
        font-size: clamp(3rem, 10vw, 5rem);
        line-height: 1.1;
    }

    p{
        font-size: 1.4rem;
    }

    .btn{
        font-size: 1.5rem;
    }

    hr{
        margin: 3.5rem auto 5rem;
        width: min(30rem, 90%);
    }

    .password-holder{
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    [id ^="password-el"]{
        width: min(26rem, 90%);
    }

    form{
        margin-top: 5rem;
        align-items: center;
    }

    input[type="number"]{
        width: 100%;
        
    }
}